
button {
  background-color: blue;
  color: white;
}
.popup {
  width: 1159px;
  height: 100%;
}
.flex {
  display: flex;
}
.popup-content {
  margin-left: 550px;
  width: 1159px;
  height: 850px;
}
.input {
  width: 1150px;
}